/*標籤基本樣式*/
*, *::before, *::after
{
    /*讓CSS設定的寬度屬性=元素在畫面中設定的寬度*/
    /*包含 padding 和 border*/
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;/*字距*/
    color: $neutral-900;
}

img {
    /*垂直對齊樣式:center清除圖片下方的空白*/
    vertical-align: middle;
    max-width: 100%;/*非常無敵重要不然會超出容器*/
}

a{
    color: $primary-900;
    text-underline-offset: 4px;/*下底線偏移*/
    display: block;/*區塊元素每一行斷行*/
    font-weight: 500;
}