/*元件*/
/*分隔符號*/
.breadcrumb-item + .breadcrumb-item::before{
    content: "/";
    padding: 0 12px; /*上下左右*/
    color: $neutral-300;
    font-weight: 700;
}

.breadcrumb-item {
    display: flex;
    font-weight: 500;
}
.breadcrumb-link {
    color: $neutral-600;
}

@media (max-width: 767px) 
{
     /*767 命名 sm*/
    .breadcrumb-item + .breadcrumb-item::before{
        padding: 0 8px; /*上下左右*/
    }

    .breadcrumb-item {
        font-size: 14px;
    }
   
}