/*通用樣式*/
.container {
    max-width: 1320px; /*1920-312-312(左右兩側) +12 + 12 =1320 */
    margin: 0 auto; /*置中*/
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

@media (max-width: 767px) 
{
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
}

@media (max-width: 576px) 
{
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }
   
}


.justify-between {
    justify-content: space-between; /*兩端對齊*/
}

.justify-center {
    justify-content: center; /*置中*/
}

.gap-8 {
    gap: 8px; /*間距*/
}


.align-center {
    align-items: center; /*垂直置中*/
}

.flex-wrap {
    flex-wrap: wrap; /*換行*/
}


.col {
    /*間距24px 左右各半*/
    /*12格格線*/
   padding-left: 12px;
   padding-right: 12px;
   width:calc(100% / 12);
}

.col-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 2); /*2格*/
}

.col-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 3); /*3格*/
}
.col-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 4); /*4格*/
}

.col-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 5); /*4格*/
}
.col-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 7); /*7格*/
}

.col-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 8); /*8格*/
}

.col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 12 * 10); /*10格*/
}

.col-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%
}

@media(max-width: 767px)
{
    .row {
        margin-left: -6px;
        margin-right: -6px;
    }

    .col-md-1 {
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100% / 4); 
    }

    .col-md-2 {
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100% / 4 *2 ); 
    }

    .col-md-3 {
        padding-left: 6px;
        padding-right: 6px;
        width: calc(100% / 4 *3 ); 
    }

    .col-md-4 {
        padding-left: 6px;
        padding-right: 6px;
        width: 100%; 
    }
}

.row {
    display: flex; /*使用flexbox*/
    flex-wrap: wrap; /*換行*/
    margin-left: -12px; /*負值抵消col的padding-left*/
    margin-right: -12px; /*負值抵消col的padding-right*/
}

.h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}
.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.05em;/*字距*/
}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

@media (max-width: 767px) 
{
    /*767 命名 md*/
    .h3-md{
        font-size: 28px;
    }
    .h4-md{
        font-size: 24px;
    }
    .h5-md{
        font-size: 20px;
    }
    .h6-md{
        font-size: 16px;
    }
   
}

@media (max-width: 576px) 
{
     /*576 命名 sm*/
    .h3-sm{
        font-size: 28px;
    }
    .h4-sm{
        font-size: 24px;
    }
    .h5-sm{
        font-size: 20px;
    }
    .h6-sm{
        font-size: 16px;
    }
   
}

.text-sm {
    font-size: 14px;
    font-weight: 400;
}

.text-primary-400 {
    color: var(--primary-400);
}

.text-neutral-600 {
    color: var(--neutral-600);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-neutral-100 {
    background-color: var(--neutral-100);
}

/*最外層的py*/
.py-64 {
    padding-top: 64px;  
    padding-bottom: 64px;
}
.py-8 {
    padding-top: 8px;  
    padding-bottom: 8px;
}
.py-16 {
    padding-top: 16px;  
    padding-bottom: 16px;
}
.py-24 {
    padding-top: 24px;  
    padding-bottom: 24px;
}

.py-12{
    padding-top: 12px;  
    padding-bottom: 12px;
}

.p-32 {
    padding: 32px;
}

.p-12 {
    padding: 12px;
}  

.pb-48 {
    padding-bottom: 48px;
} 

.pb-4 {
    padding-bottom: 4px;
} 

.pt-32 {
    padding-top: 32px;
}

.pe-8  {
    padding-right: 8px;
}

@media (max-width: 767px) 
{
    /*767 命名 md*/
    .px-md-12{
        padding-left: 12px;
        padding-right: 12px;
    }
    .py-md-32{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .pb-md-32{
        padding-bottom: 32px;
    }

    .p-md-24 {
        padding: 24px;
    }
   
}

@media (max-width: 576px) 
{
     /*576 命名 sm*/
    .px-sm-12{
        padding-left: 12px;
        padding-right: 12px
    }

    .py-sm-12{
        padding-top: 12px;
        padding-bottom: 12px
    }
    .py-sm-32{
        padding-top: 32px;
        padding-bottom: 32px;
    }
   
    .pb-sm-24{
        padding-bottom: 24px;
    }
}


.p-8-12 {
    padding: 8px 12px;
}

.mb-4 {
    margin-bottom: 4px;
}
.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}
.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}

.mt-64{
    margin-top: 64px;
}   

.me-48 {
    margin-right: 48px;
}
.me-40{
    margin-right: 40px;
}
.me-12 {
    margin-right: 12px;
} 
.me-8 {
    margin-right: 8px;
} 

.me-24 {
    margin-right: 24px;
}


@media (max-width: 767px) 
{
    /*767 命名 md*/
    .me-md-0 {
        margin-right: 0;
    }

    .me-md-16 {
        margin-right: 16px;
    }

    .mb-md-12{
        margin-bottom: 12px;
    }

    .mb-md-8{
        margin-bottom: 8px;
    }

    .mb-md-16{
        margin-bottom: 16px;
    }

    .mb-md-24{
        margin-bottom: 24px;
    }

    .mb-md-32{
        margin-bottom: 32px;
    }

    .mb-md-0{
        margin-bottom: 0;
    }
   
}

@media (max-width: 576px) 
{
     /*576 命名 sm*/
    .me-sm-0 {
        margin-right: 0;
    }
     .me-sm-16 {
        margin-right: 16px;
    }

    .mb-sm-4{
        margin-bottom: 4px;
    }
    .mb-sm-8{
        margin-bottom: 4px;
    }

    .mb-sm-0{
        margin-bottom: 0;
    }   

    .mb-sm-32{
         margin-bottom: 32px;
    }
   
}


.text-sm {
    font-size: 14px;
    font-weight: 400;
}

.text-danger {
    color: var(--danger-300);
}
